{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Andrew Theodore Tjondrowidjojo</title>
{% endblock %}
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  
    {% block content %}
    <section>
      <h1 class="bot">My schedule</h1>
        {% if schedule %}
          <ul>
          {% for schedule in schedule %}
            <li class="box">
              <div>
                <div> Title: {{ schedule.title }} </div>
                <div> Place: {{ schedule.place }} </div>
                <div> Date: {{ schedule.date }} </div>
                <div> Category: {{ schedule.category }} </div>
                <div> Day: {{ schedule.day }} </div>
                <div> Hour: {{ schedule.hour }} </div>
              </div>
              <div>
                <form action="/removeschedule/" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="cross-btn">
                      <img src="static/cross.png" class="cross-logo" width="25" height="25"><br>
                  </button>
                  <input type="hidden" name="id" value="{{ schedule.id }}">
                </form>
              </div>
              <hr>
            </li>
          {% endfor %}
          </ul>
        {% else %}
          <p>No polls are available.</p>
        {% endif %}
        <div class="bot">
          <h1>
            Add Schedule
          </h1>
          <form action="/addschedule/" method="post">
            {% csrf_token %}
            <div>
              <label for="addschedule">Title :</label>
              <input type="text" name="title" value="{{ current_title }}">
            </div>
            <div>
              <label for="addschedule">Place :</label>
              <input type="text" name="place" value="{{ current_place }}">
            </div>
            <div>
              <label for="addschedule">Date :</label>
              <input type="date" name="date" value="{{ current_date }}">
            </div>
            <div>
              <label for="addschedule">Category :</label>
              <input type="text" name="category" value="{{ current_category }}">
            </div>
            <div>
              <label for="addschedule">Day :</label>
              <input type="text" name="day" value="{{ current_day }}">
            </div>
            <div>
              <label for="addschedule">Hour :</label>
              <input type="time" name="hour" value="{{ current_hour }}">
            </div>
            <input type="submit" value="Submit  ">
          </form>
        </div>
    </section>
    {% endblock %}