.box{
  margin-top: 10px;
  height: 150px;
  width: 300px;
  display: flex;
  border: 1px;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
}

.cross-btn {
  visibility: hidden;
  width: 0;
  height: 0;
}

.cross-logo {
  visibility: visible;
  position: relative;
  left: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: row;
}

.bot{
  margin-left: 50px;
}

.square {
  height: 50px;
  width: 50px;
  /* background-color: #555; */
}